/NEtFLi/AppPackages/
.NEtFLi/Assets
.NEtFLi/BundleArtifacts
.vs/NEtFLi/v16/.suo
*.sln
*.psd1
*.appx
*.dll
*.msixbundle
*.cer
*.zip
*.dll
*.png
*.xbf
*.exe
*.xml
*.resw
*.ilpdb
*.rsrc
*.txt
*.pdb
**/bin/Debug/
**/bin/Release/
*.exe
*.xbf
NEtFLi/Verwaltung.cs
NEtFLi/Serializer/TMDB+.cs
NEtFLi/Serializer/TMDB.cs
NEtFLi/Properties/AssemblyInfo.cs
NEtFLi/Program.cs
NEtFLi/APIKEY.cs
